**/.git
**/.gitignore
**/node_modules
**/.nuxt
**/.output
**/.data
**/dist
**/target
**/venv
**/.venv
**/__pycache__
**/*.pyc
**/logs
**/tmp
**/.env
**/.env.local
frontend-mobile
frontend-admin
backend-admin-java
docs
data
